$sectionBgColor01: #d760ff;
$sectionBgColor02: #77d2ff;
$sectionBgColor03: #f459e5;
$sectionBgColor04: #8064ff;
$accent-color02: #fbe087;
$accent-color03: #1ca4ed;
$accent-color04: #a4f8f5;
$accent-color05: #d489fdd6;
