$sectionBgColor01: #c04371;
$sectionBgColor02: #bc012d;
$sectionBgColor03: #cb517e;
$sectionBgColor04: #f2676a;
$accent-color02: #fbe087;
$accent-color03: #1ca4ed;
$accent-color04: #a4f8f5;
$accent-color05: #fe6f02;
