$sectionBgColor01: #eebdff;
$sectionBgColor02: #77d2ff;
$sectionBgColor03: #f459e5;
$sectionBgColor04: #cbbffd;
$accent-color02: #fbe087;
$accent-color03: #1ca4ed;
$accent-color04: #a4f8f5;
$accent-color05: #000000d6;
