@import "fonts";
@import "colors";

.discover-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-shadow: 0px 10px 16px -6px $accent-color05;
  border-top: 2px solid whitesmoke;
  background-image: url("../assets/gallery-travel/20250609_1535_Detailed\ Chrysanthemums\ Design_remix_01jxaea888f4ttt3rk35p87yvf.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.discover-title {
  font-family: $fontGuerrilla;
  margin-top: 4vh;
}
.discover {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
// ---
.discover-section__word {
  padding: 16px;
  font-size: 1.4em;
  color: white;
  letter-spacing: 0.1em;
  font-family: $fontGuerrilla;
  border-radius: 14px;
  border: 3px solid rgb(0, 128, 79);
  background-color: rgba(48, 48, 48, 0.672);
  &:hover {
    background-color: darken($accent-color02, 10%);
    cursor: pointer;
    color: black;
  }
}
