@import "fonts";
@import "colors";

.discover {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 50vh;
  background-color: rgba(212, 212, 212, 0.555);
}

.discover-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-shadow: 0px 10px 16px -6px $accent-color05;
  border-top: 2px solid whitesmoke;
  background-image: url("../assets/gallery-travel/20250609_1535_Detailed\ Chrysanthemums\ Design_remix_01jxaea888f4ttt3rk35p87yvf.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.discover-title {
  font-family: $fontGuerrilla;
  margin-top: 4vh;
}
.discover {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
// ---
.discover-section__word {
  padding: 16px;
  font-size: 1.4em;
  color: rgb(161, 9, 9);
  letter-spacing: 0.1em;
  font-family: $fontGuerrilla;
  border-radius: 14px;
  background-color: $accent-color02;
  &:hover {
    background-color: darken($accent-color02, 13%);
    cursor: pointer;
    color: black;
  }
}

.discover-section__fact {
  color: rgb(234, 240, 245);
  font-size: 2em;
  padding-top: 10vh;
  font-family: $fontTitilliumWeb;
  max-width: 50vw;
}
