@import "fonts";
@import "colors";

.discover-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 90vh;
  box-shadow: 0px 10px 16px -6px $accent-color05;
  background-image: linear-gradient(
    to right,
    rgba(164, 228, 249, 0.831),
    rgba(249, 184, 255, 0.906)
  );
}
.discover-title {
  font-family: $fontGuerrilla;
  margin-top: 10vh;
}
.discover {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
// ---
.discover-section__word,
.discover-section__anime,
.discover-section__city {
  padding: 3%;
  font-size: 32px;
  color: white;
  letter-spacing: 0.1em;
  font-family: $fontGuerrilla;
  border-radius: 14px;
  &:hover {
    background-color: darken($accent-color02, 10%);
  }
}

.discover-section__word {
  border: 3px solid darken($sectionBgColor01, 30%);
  background-color: $sectionBgColor01;
}

.discover-section__anime {
  border: 3px solid darken($sectionBgColor04, 30%);
  background-color: $sectionBgColor04;
}

.discover-section__city {
  border: 3px solid darken($sectionBgColor03, 30%);
  background-color: $sectionBgColor03;
}
