@import "fonts";
@import "colors";

.main-header {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../assets/su-san-lee-E_eWwM29wfU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: left;
  align-items: center;
}

.header-title {
  display: flex;
  margin-left: 7vw;
  color: white;
  font-family: $fontGuerrilla;
  letter-spacing: 0.2em;
  font-size: 5em;
  text-shadow: 2px 2px 4px #000000;
}
