@import "fonts";
@import "colors";

.myths {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.youkai-title {
  width: 60vw;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}

.yokai-description {
  height: auto;
  font-size: 1.2em;
  width: 60%;
  font-family: $fontTitilliumWeb;
  margin: 0 auto;
  padding: 2em;
  text-align: justify;
  line-height: 1.4em;
  border: 1px solid black;
  margin-top: 3vh;
  margin-bottom: 7vh;
  border-radius: 24px;
  background-color: #ffffffb0;
}
.description-wrap {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/gallery-youkai/20250606_1102_Japanese\ Youkai\ Encounter_simple_compose_01jx27hbweefmrpesyev7hgkmv.png");
  background-repeat: no-repeat;
  background-size: cover;
}
// bottom gallery
.gallery-main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.yokai-gallery {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.yimg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
}

.yimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: white;
}
